numpy==2.1.0; python_version=="3.13"
numpy==1.26.0; python_version=="3.12"
numpy==1.23.2; python_version=="3.11"
numpy==1.21.3; python_version=="3.10"
numpy==1.21.0; python_version=="3.9"
numpy==1.21.0; python_version=="3.8"
numpy==1.21.0; python_version=="3.7"
numba==0.61.0; python_version=="3.13"
numba==0.59.0; python_version=="3.12"
numba==0.57.0; python_version=="3.11"
numba==0.55.0; python_version=="3.10"
numba==0.55.0; python_version=="3.9"
numba==0.55.0; python_version=="3.8"
numba==0.55.0; python_version=="3.7"
typing_extensions==4.0.0
