name: Build

on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main
      - 'release/*'
  workflow_call:

permissions:
  contents: read

jobs:
  build-wheel:
    name: Wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all commits and tags, needed for intermediate versions

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'
          cache-dependency-path: |
            requirements-build.txt
            pyproject.toml

      - name: Upgrade pip and other packaging tools
        run: python3 -m pip install --upgrade -r requirements-build.txt

      - name: Show package version
        run: python3 -m setuptools_scm

      - name: Build the `galois` package
        run: python3 -m build

      - name: List built artifacts
        run: ls -l dist

      - name: Verify the wheel file
        run: python3 -m twine check dist/*

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
          retention-days: 30
